services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: deal-pipeline-backend
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=default
      - SPRING_DATA_MONGODB_URI=mongodb://deal-pipeline-mongo:27017/deal_pipeline_db
    networks:
      - app-network
      - deal-pipeline-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: deal-pipeline-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
  deal-pipeline-network:
    external: true
    name: newproject_deal-pipeline-network